# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:** 
- Know the basic features and functionality of Jupyter Notebook and Jupyter Lab.
- Discover the benefits that Anaconda brings.
- Know Visual Basic as the popular console among programmers
- Describe the R Studio environment and its libraries.
- Explain how Github meets the needs of a source code repository.

Some of the popular languages that Data Scientists use are:
1. Python
2. R Studio
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. Pplots

|Data Science Tools|
---------------------------
|Jupyter Notebook|
|Jupyter Lab|
|Visual Basic|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#this will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Autor
Hetson Tomas Gutierrez Escobar